Source: playframework
Section: java
Priority: optional
Maintainer: Iurii Antykhovych <iurii.antykhovych@strikead.com>
Build-Depends: debhelper (>= 9.0.0),
               default-jdk(>=2:1.8.0),
               sbt(>=0.13.11)
Standards-Version: 3.9.5
Vcs-Git: git://git@github.com:SereneAnt/playframework.git
Vcs-Browser: https://github.com/SereneAnt/playframework.git/
Homepage: https://github.com/SereneAnt/playframework.git/

Package: playframework
Architecture: all
Depends: adduser, default-jre-headless, java8-runtime-headless, ${misc:Depends}
Description: Play Framework - The High Velocity Web Framework
    The Play Framework combines productivity and performance making it easy to build scalable
    web applications with Java and Scala.
    Play is developer friendly with a "just hit refresh" workflow and built-in testing support.
    With Play, applications scale predictably due to a stateless and non-blocking architecture.
    By being RESTful by default, including assets compilers, JSON & WebSocket support,
    Play is a perfect fit for modern web & mobile applications.
